:root {
  --unit: 4px;
  --ease: cubic-bezier(0.23, 1, 0.32, 1);
}

html {
  background: #fbfbfd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 180px));
  padding: calc(var(--unit) * 4);
}

.header::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: repeating-linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 1px,
    transparent 0,
    transparent 3px
  );
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;
  background: none;
  border: none;
  padding: calc(var(--unit) * 2);
  cursor: pointer;
  outline: none;
  border-radius: var(--unit);
  transition: transform 100ms var(--ease);
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  touch-action: none;
  border-radius: inherit;
}

.button::before {
  background: #ebebf5;
  opacity: 0;
  z-index: -1;
  transition-property: opacity, background;
  transition-duration: 100ms;
  transition-timing-function: var(--ease);
}

.button::after {
  border: 2px solid #000;
}

@media (hover) {
  .button:hover::before {
    opacity: 1;
  }
  .button:active {
    transform: scale(0.95);
  }
}

label {
  display: block;
  margin-bottom: var(--unit);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li:first-of-type {
  margin: calc(var(--unit) * 4) 0;
}

.demo-container {
  width: 275px;
  box-shadow: 0 0 0 1px rgba(136, 152, 170, 0.1),
    0 15px 35px 0 rgba(49, 49, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  border-radius: calc(var(--unit) * 2);
  padding: calc(var(--unit) * 4.5);
  background: #fff;
}

.demo-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: calc(var(--unit) * 3);
  align-items: center;
}

.demo-name {
  margin: 0;
  font-weight: 500;
}

.demo-content {
  margin-top: calc(var(--unit) * 4);
}

.demo-info {
  margin: 0;
  line-height: 1.3;
}

.button-close {
  display: flex;
  margin-left: auto;
  margin-top: calc(var(--unit) * 4);
}
